@import url("https://use.typekit.net/lfz1ish.css");


@font-face {
  font-family: 'TheDark';
  src: url('../fonts/the-dark/the_dark-webfont.woff2') format('woff2'),
  url('../fonts/the-dark/the_dark-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: myriad-pro-semiextended, sans-serif;
  font-style: normal;
}

html, body, header {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: auto;
}

html, body {
  height: 100%;
}

.navigation ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  font-weight: 800;
  border-bottom: 0;
}

.navigation li {
  display: inline;
}

.navigation a {
  display: inline;
  padding: .5em;
  color: white;
  text-decoration: none;
}

.navigation .menu_selected {
  text-decoration: underline;
}

.navigation a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.body {
  background-color: black;
  /*background-color: rgb(32, 32, 32);*/
  background-size: cover;
  color: white;
  margin: 0;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.content {
  flex: 1 1 auto;
  padding: 20px;
}

.main-header {
  background-image: url(../images/HitPump_header_v3.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 0;
  color: #f0e5d5;
  flex: 0 0 auto;
}

.main-footer {
  flex: 0 0 auto;
  padding-left: 15px;
  padding-bottom: 5px;
}

.body h1, h2, h3 {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 5px;
}

.main-header .top_name {
  font-weight: normal;
  display: block;
  line-height: 1em;
  padding: 0;
  letter-spacing: .05em;
  overflow: hidden;
  font-family: 'TheDark', cursive;
  text-align: center;
  text-decoration: none;
  vertical-align: bottom;
  margin-top: -10px;
  margin-bottom: 5px;
}

.about-image {
  padding: 0;
  margin: 15px;
  float: right;
  max-height: 1000px;
  max-width: 1502px;
}

@media only screen and (min-width: 1024px) {
  .main-header .top_name {
    font-size: 17em;
  }

  .navigation ul {
    margin-left: 10px;
    text-align: left;
    font-size: 1.1em;
  }

  .about-image {
    width: 50%;
  }

  .event-item {
    width: 49.5%;
  }

  .sn_links {
    text-align: left;
  }

  .sn_logo {
    width: 32px;
    height: 32px;
    margin: 5px;
  }
}

@media only screen and (max-width: 1023px) {
  .main-header .top_name {
    font-size: 10em;
  }

  .navigation ul {
    margin-left: 0;
    text-align: center;
    font-size: 2.2em;
  }

  .navigation a {
    padding: .1em;
  }

  .about-image {
    width: 100%;
  }

  .event-item {
    width: 100%;
  }

  .sn_links {
    text-align: center;
  }

  .sn_logo {
    width: 128px;
    height: 128px;
    margin: 15px;
  }
}

.center-header {
  /*margin: 0;*/
  padding: 0;
  margin-bottom: 15px;
  margin-top: 5px;
  text-align: center;
  font-size: 1.8em;
}

.left-side-header {
  padding: 0;
  margin-left: 0;
  margin-bottom: 15px;
  margin-top: 5px;
  text-align: left;
  font-size: 1.8em;
}

.about-text {
  text-align: center;
  padding-bottom: 0;
  margin: 0;
  font-size: x-large;
}

.about-film {
  position: relative;
  padding-bottom: 50.625%; /* 16:9 */
  height: 0;
}

.about-film iframe {
  position: absolute;
  padding-right: 5%;
  padding-left: 5%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.events {
  margin-left: 10%;
  margin-right: 10%;
  alignment: center;
}

.event-row {
  border-bottom: 1px solid #f0e5d5;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.event-row:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.btn-tickets {
  text-align: center;
  vertical-align: middle;
  padding: .6em;
  cursor: pointer;
  color: #f0e5d5;
  background-color: black;
  border: 2px solid #f0e5d5;
  border-radius: 0;
  font-size: 1em;
  font-weight: lighter;
  text-decoration: none;
}

.btn-tickets:hover {
  background-color: #f0e5d5a0;
  vertical-align: middle;
}

.event-item {
  display: inline-block;
  padding-right: .5em;
  padding-left: .5em;
}

.event-description {
  vertical-align: top;
  margin-bottom: 30px;
  font-size: 1.3em;
}

.event-date {
  font-size: 1.5em;
  font-weight: bold;
  color: darkorange;
}

.event-img {
  width: 100%;
  margin: 0.5em;
}

.event-location {
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
}

.sn_links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sn_links li {
  display: inline;
}

.sn_logo {
  filter: invert(100%);
  border: 0;
  vertical-align: center;
}